<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{{ page.title }} - CPLUG.org - Cal Poly Linux Users Group</title>
	<link rel="stylesheet" href="/media/css/style.css" /></head>
<body>
	<div id="header">
		CPLUG.org
	</div>
	<div id="main">
		{% include post_header.html %}
		{{ content }}
	</div>
	<div id="footer">
		&copy; 2010 Cal Poly Linux Users Group
	</div>
</body>
</html>
